.fakeimg {
  height: 200px;
  background: #aaa;
}
.parallax{
    background-image: url(assets/renee2.jpg);
    min-height: 2250px;
}
.reneeimg{
    height: 200px;
}
.parallax{
    background-image: url(assets/renee2.jpg);
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}
.col-sm-8{
    background-color: whitesmoke;
    opacity: 80%;
}
.col-sm-4{
    background-color: whitesmoke;
    opacity: 80%;
}
.renee{
    width: 280px;
    height: 150px;
}
.renee2{
    width: 280px;
    height: 150px;
}
.renee3{
    width: 280px;
    height: 150px;
}
.renee:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  .renee2:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  .renee3:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }